<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850287602762-9u8c5k7b9srmjvmjupgm8hl5sckv9s85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850287602762-9u8c5k7b9srmjvmjupgm8hl5sckv9s85</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>850287602762-sjjpeot1m57flihrglko5da49es1t373.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJK1YsFM_W44w98knPlIq7QqmbVrwk7T4</string>
	<key>GCM_SENDER_ID</key>
	<string>850287602762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stableHelper</string>
	<key>PROJECT_ID</key>
	<string>stable-helper</string>
	<key>STORAGE_BUCKET</key>
	<string>stable-helper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850287602762:ios:5ae67b2e716a50bd914ab3</string>
</dict>
</plist>